@model SIPIweb.Models.tbl_usuario_tmp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carga manual de Usuario</h2>
<hr />
<form asp-action="Create" onsubmit="return confirm('Desea guardar este Usuario?');">
    <table class="table">
        <tr id="tipo">
            <th>
                <label asp-for="id_usuarioTipo" class="control-label"></label>
                <select asp-for="id_usuarioTipo" class="form-control" asp-items="ViewBag.id_usuarioTipo"></select>
            </th>
        </tr>
        <tr id="usuario_clave">
            <th>
                <label asp-for="usuario_login" class="control-label"></label>
            </th>
            <th>
                <input asp-for="usuario_login" class="form-control" />
                <span asp-validation-for="usuario_login" class="text-danger"></span>
            </th>
            <th>
                <label asp-for="usuario_pass" class="control-label"></label>
            </th>
            <th>
                <input asp-for="usuario_pass" class="form-control" type="text" style="width: 150px;" />
                <span asp-validation-for="usuario_pass" class="text-danger"></span>
            </th>
        </tr>
        <tr id="email">
            <th>
                <label asp-for="usuario_email" class="control-label"></label>
            </th>
            <th>
                <input asp-for="usuario_email" class="form-control" />
                <span asp-validation-for="usuario_email" class="text-danger"></span>
            </th>
            <th colspan="2">
                <input type="submit" value="Guardar" class="btn btn-primary" style="width: 100%;" />
            </th>
        </tr>
    </table>
</form>

<partial name="~/Views/Shared/errores_model.cshtml" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    var _errores = @ViewData["errores"]+"";

    if (trim(_errores) != '') {
        alert('Se produjo el error ' & _errores);
    }


    function checkForm(form) {

        log = form.usuario_login.value;
        pass = form.usuario_pass.value;

        re = /^\w+$/;
        if (!re.test(log)) {
            alert("Error: El Nombre de usuario solo puede tener letras, numeros y guion bajo, sin espacios !!");
            return false;
        }

        if (pass.length < 6) {
            alert("Error: Clave de usuario debe tener por lo menos 6 caracteres");
            return false;
        }

        return true;
    }

</script>
