@model SIPIweb.Models.informacion

@{
    ViewData["Title"] = "detalleNoticia";
    Layout = "";
}

    <dl class="row">
        <dd class="col-sm-10">
            <h1>@Html.DisplayFor(model => model.informacion_titulo)</h1>
            <hr />
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.informacion_cuerpo)
            <hr />
        </dd>
        <dd class="col-sm-10">
            <b>Publicado el:</b>@Html.DisplayFor(model => model.informacion_fechaPublicacion)
        </dd>
        <dd class="col-sm-10">
            <b>Publicado por:</b>@Html.DisplayFor(model => model.id_usuarioNavigation.usuario_login)
        </dd>
    </dl>


