@model SIPIweb.Models.usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_usuario" />
            <div class="form-group">
                <label asp-for="usuario_login" class="control-label"></label>
                <input asp-for="usuario_login" class="form-control" />
                <span asp-validation-for="usuario_login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_pass" class="control-label"></label>
                <input asp-for="usuario_pass" class="form-control" />
                <span asp-validation-for="usuario_pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_email" class="control-label"></label>
                <input asp-for="usuario_email" class="form-control" />
                <span asp-validation-for="usuario_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_birthday" class="control-label"></label>
                <input asp-for="usuario_birthday" class="form-control" />
                <span asp-validation-for="usuario_birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_createdday" class="control-label"></label>
                <input asp-for="usuario_createdday" class="form-control" />
                <span asp-validation-for="usuario_createdday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_tipo" class="control-label"></label>
                <input asp-for="usuario_tipo" class="form-control" />
                <span asp-validation-for="usuario_tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
